*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #0F172A;
}

header {
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #334155;
}

header h1 {
  margin-top: 1.5rem;

  font-size: 1.875rem;

  color: #F1F5F9;
}

#quiz {
  counter-reset: quiz-item;
}

main {
  max-width: 40rem;
  margin: 0 auto 4rem;
  padding: 1.25rem;
}

.quiz-item {
  margin-top: 1.5rem;
  
  overflow: hidden;

  border: 1px solid #475569;
  border-radius: 6px;
}

.quiz-item h3 {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 1rem 1.25rem;

  color: #E2E8F0;
  background-color: #1E293B;
}

.quiz-item h3:before {
  counter-increment: quiz-item;
  content: counter(quiz-item);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 1.75rem;
  height: 1.75rem;

  border-radius: 50%;

  font-size: 0.75rem;

  background-color: #475569;
}

.quiz-item dl {
  display: grid;
  gap: 0.5rem;

  padding: 1.25rem 1.5rem;
}

.quiz-item dl dt {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;

  color: #E2E3F0;
}

input {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  border: 1px solid #94A3B8;
}

input:checked {
  border: 1px solid #A3E635
}

input:checked:before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;

  border-radius: 50%;

  background-color: #A3E635;
}

#acertos {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 0.75rem;

  text-align: center;

  background-color: #A3E635;
}